In [3]:
# Dataframe of dataset
import pandas as pd
food_africa = pd.read_csv('Desktop/Data science/Hamoye internship/FoodBalanceSheets_E_Africa_NOFLAG.csv', encoding = 'latin-1')
print(food_africa.head())

   Area Code     Area  Item Code         Item  Element Code  \
0          4  Algeria       2501   Population           511
1          4  Algeria       2501   Population          5301
2          4  Algeria       2901  Grand Total           664
3          4  Algeria       2901  Grand Total           674
4          4  Algeria       2901  Grand Total           684

                                  Element             Unit     Y2014  \
0           Total Population - Both sexes     1000 persons  38924.00
1                Domestic supply quantity      1000 tonnes      0.00
2           Food supply (kcal/capita/day)  kcal/capita/day   3377.00
3  Protein supply quantity (g/capita/day)     g/capita/day     94.90
4      Fat supply quantity (g/capita/day)     g/capita/day     80.06

      Y2015     Y2016     Y2017     Y2018
0  39728.00  40551.00  41389.00  42228.00
1      0.00      0.00      0.00      0.00
2   3379.00   3372.00   3341.00   3322.00
3     94.35     94.72     92.82     91.83
4     79.36     77.40     80.19     77.28

In [54]:
# Year with least correlation with element code  is 2016
y_14 = np.round(food_africa['Element Code'].corr(food_africa['Y2014']),4)
y_15 = np.round(food_africa['Element Code'].corr(food_africa['Y2015']),4)
y_16 = np.round(food_africa['Element Code'].corr(food_africa['Y2016']),4)
y_17 = np.round(food_africa['Element Code'].corr(food_africa['Y2017']),4)
y_18 = np.round(food_africa['Element Code'].corr(food_africa['Y2018']),4)
print(y_14,y_15,y_16,y_17,y_18)

0.0245 0.0239 0.0234 0.0243 0.0243

In [39]:
# Total and percentage of missing values in year 2014 are  1589 and 21% respectively
import numpy as np
y2014_missing = food_africa['Y2014'].isnull().sum()
total_null = np.sum(food_africa.isnull().sum())
y2014_missing_per = y2014_missing/total_null* 100
print(y2014_missing)
print(y2014_missing_per)

1589
20.86945101129498

In [13]:
# Area with 7th lowest sum in year 2017 is Guinea-Bissau
y2017_area = food_africa[['Y2017','Area']].groupby('Area').sum().sort_values(by='Y2017')
print(y2017_area.head(10))

                          Y2017
Area
Sudan (former)             0.00
Ethiopia PDR               0.00
Comoros                   59.84
Seychelles               442.34
Sao Tome and Principe  12662.63
Cabo Verde             14650.74
Guinea-Bissau          19102.77
Lesotho                21267.96
Botswana               22101.30
Djibouti               22729.91

In [22]:
# Mean and standard deviation for year 2017 are 140.92 and 1671.86 respectively
mean_2017 = np.round(food_africa['Y2017'].mean(),2)
std_2017 = np.round(food_africa['Y2017'].std(),2)
print(mean_2017, std_2017)

140.92 1671.86

In [32]:
# Total protein supply quantity in Madagascar in 2015 is 173.05
Madagascar = food_africa[food_africa['Area']=='Madagascar']
mad_2015_protein = Madagascar.groupby('Element')['Y2015'].sum()
print(mad_2015_protein)

Element
Domestic supply quantity                  31214.98
Export Quantity                             494.75
Fat supply quantity (g/capita/day)           91.85
Feed                                       2070.22
Food                                      21120.65
Food supply (kcal/capita/day)              7685.00
Food supply quantity (kg/capita/yr)         871.59
Import Quantity                            1721.80
Losses                                     2176.00
Other uses (non-food)                      3957.12
Processing                                 1803.00
Production                                29482.89
Protein supply quantity (g/capita/day)      173.05
Residuals                                  -616.00
Seed                                        699.00
Stock Variation                            -505.00
Total Population - Both sexes             24234.00
Name: Y2015, dtype: float64

In [58]:
# Total number of unique countries is 49
unique_countries = food_africa['Area'].nunique()
print(unique_countries)

49

In [69]:
# Sum of processing in year 2017 is 292836.0
y2017 = food_africa[food_africa['Element']=='Processing']
y2017_processing = y2017['Y2017'].sum()
print(y2017_processing)

292836.0

In [83]:
# Year with the highest sum of stock variation is year 2014
stock_variation = food_africa[food_africa['Element']=='Stock Variation']
year_stock_variation = stock_variation[['Y2014','Y2015','Y2016','Y2017','Y2018']].sum()
print(year_stock_variation)
print(year_stock_variation.max())

Y2014    58749.83
Y2015    34910.99
Y2016    33140.12
Y2017    54316.91
Y2018    20577.91
dtype: float64
58749.83

In [92]:
# Total sum of wine in 2016 and 2018 are 4251.81 and 4039.32 respectively
#y15 = food_africa[food_africa['Item']=='Wine']
#y1 = y15[['Y2015','Y2018']].sum()
#print(y1)
y15_18 = food_africa.groupby('Item')[['Y2015','Y2018']].sum()
print(y15_18)

                         Y2015      Y2018
Item
Alcohol, Non-Food      2180.00    2293.00
Alcoholic Beverages   98783.72   97847.27
Animal Products       11811.73   11578.61
Animal fats          200675.72  269648.27
Apples and products   10559.15    9640.51
...                        ...        ...
Vegetables, Other    158104.08  163987.21
Vegetal Products     107064.17  107775.39
Wheat and products   234710.51  242645.19
Wine                   4251.81    4039.32
Yams                 203151.78  221272.09

[119 rows x 2 columns]

In [96]:
# Area with highest sum in 2017 is Nigeria
y17_area = food_africa[['Y2017','Area']].groupby('Area').sum().sort_values(by='Y2017', ascending=False)
print(y17_area)

                                  Y2017
Area
Nigeria                      1483268.23
Egypt                         866379.92
South Africa                  517590.54
Ethiopia                      448683.76
Morocco                       388495.36
Ghana                         337599.06
Algeria                       325644.27
United Republic of Tanzania   322616.85
Kenya                         264660.66
Sudan                         239931.92
Cameroon                      232030.43
Angola                        229159.57
CÃ´te d'Ivoire                 224599.01
Uganda                        213950.38
Malawi                        181098.71
Mozambique                    161407.98
Mauritania                    156665.46
Mali                          149928.33
Madagascar                    131197.73
Niger                         126707.58
Benin                         124771.22
Tunisia                       124167.20
Zambia                        103223.77
Burkina Faso                  101855.07
Guinea                         98138.87
Senegal                        95681.15
Zimbabwe                       75919.34
Rwanda                         73663.69
Chad                           71594.68
Sierra Leone                   55311.33
Eswatini                       54343.33
Mauritius                      51114.83
Togo                           49841.88
Congo                          41181.68
Central African Republic       29937.00
Namibia                        29874.89
Liberia                        29342.20
Gabon                          27979.64
Gambia                         23154.18
Djibouti                       22729.91
Botswana                       22101.30
Lesotho                        21267.96
Guinea-Bissau                  19102.77
Cabo Verde                     14650.74
Sao Tome and Principe          12662.63
Seychelles                       442.34
Comoros                           59.84
Sudan (former)                     0.00
Ethiopia PDR                       0.00